pipeline/pipeline_csv_para_ftp.json
{
	"name": "pipeline_csv_para_ftp",
	"properties": {
		"activities": [
			{
				"name": "SetarDataExecucao",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "VerificarArquivoBak",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataExecucao",
					"value": {
						"value": "@substring(pipeline().parameters.nomeCsv, 0, 8)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "BuscarListaDeArquivos",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetarDataExecucao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "@pipeline().parameters.nomeCsv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopArquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "BuscarListaDeArquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('BuscarListaDeArquivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopiarArquivoParaFTP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_arquivo_blob",
									"type": "DatasetReference",
									"parameters": {
										"filePath": {
											"value": "@item().filePath",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_arquivo_ftp",
									"type": "DatasetReference",
									"parameters": {
										"ftpPath": {
											"value": "@if(endsWith(item().filePath, '.bak'), concat(variables('dataExecucao'), ''), concat(variables('dataExecucao'), '/imagens'))",
											"type": "Expression"
										},
										"fileName": "@last(split(item().filePath, '/'))"
									}
								}
							]
						},
						{
							"name": "RegistrarErroCopia",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopiarArquivoParaFTP",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "erroMensagem",
								"value": {
									"value": "@concat('Erro na cópia do arquivo: ', item().filePath, ' | Erro: ', activity('CopiarArquivoParaFTP').error.message)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ForcarFalha",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "RegistrarErroCopia",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@variables('erroMensagem')",
									"type": "Expression"
								},
								"errorCode": "FalhaCopiaArquivo"
							}
						}
					]
				}
			},
			{
				"name": "DeletarArquivoDump",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "LoopArquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_arquivo_blob",
						"type": "DatasetReference",
						"parameters": {
							"filePath": {
								"value": "@concat('db_', variables('dataExecucao'), '.bak')",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LoopArquivos",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "EncerrarComErro",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-30.brazilsouth.logic.azure.com:443/workflows/68490f5443c44e6992ebce7f0dd81958/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=GIz7HdCagxTF9ssvU0foqI9OkNi-xwf55LV_VcGlfmc",
					"body": {
						"mensagem": "Falha na execução da pipeline CSV para FTP.",
						"detalhes": "@variables('erroMensagem')",
						"runId": "@pipeline().RunId"
					}
				}
			},
			{
				"name": "VerificarArquivoBak",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_arquivo_bak_check",
						"type": "DatasetReference",
						"parameters": {
							"filePath": "@concat('db_', substring(pipeline().parameters.nomeCsv, 0, 8), '.bak')"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "RegistrarErroBak",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "VerificarArquivoBak",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "erroMensagem",
					"value": "@concat('Arquivo .bak não encontrado: db_', substring(pipeline().parameters.nomeCsv, 0, 8), '.bak')\n"
				}
			},
			{
				"name": "EncerrarComErro",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "RegistrarErroBak",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "@variables('erroMensagem')",
					"errorCode": "404"
				}
			}
		],
		"parameters": {
			"nomeCsv": {
				"type": "string",
				"defaultValue": "@last(split(triggerBody()?['subject'], '/'))"
			},
			"triggerInvalido": {
				"type": "string",
				"defaultValue": "VALOR_INVALIDO"
			}
		},
		"variables": {
			"dataExecucao": {
				"type": "String"
			},
			"erroMensagem": {
				"type": "String"
			}
		},
		"annotations": []
	}
}